  /* Make the image fully responsive */
  html, body {
    background-color: #e9b6bb;
    color: #636b6f;
    font-family: 'Lobster', cursive;
    /* font-weight: bold; */
    margin: 0;
    /* letter-spacing: 0.1em; */
}

.carousel-img {
    height: 500px;
}

h2 {
  color: #721c24;
  font-family: 'Roboto', cursive;
  letter-spacing: normal !important;
}

p {
  color: #721c24;
  font-family: 'Roboto', cursive;
  font-size: 14.5px;
  font-weight: initial !important;
  letter-spacing: normal !important;
}

.fa {
  padding: 20px;
  font-size: 20px;
  width: 20px;
  text-align: center;
  text-decoration: none;
  margin: 5px 5px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-wordpress {
  background: #55ACEE;
  color: white;
}

.bs-callout {
    padding: 20px 0px 0px 20px;
    margin: 20px 0px;
    border-width: 1px 1px 1px 5px;
    border-style: solid;
    border-color: #7b0d0d;
    border-image: none;
    border-radius: 0;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.176);
}

h1 {
  color: #7b0d0d;
}

h5 {
  color: #721c24;
  font-family: 'sans-serif', cursive;
  letter-spacing: normal !important;
}

.font-color {
  color: #721c24;
  font-family: 'Roboto', cursive;
  font-size: 14px;
}

.horoscope-img {
  width: 341px; 
  height: 200px; 
  float: left; 
  margin: 6px 6px 6px 0px;
}