  /* Make the image fully responsive */
  html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Tangerine', serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}

/* @font-face {
  https://mdbootstrap.com/docs/jquery/navigation/footer/
  font-family: fabfeltscript-bold;
  src: url('{{ asset('fonts/fabfeltscript-bold.tff') }}');
} */

.carousel-img {
    height: 500px;
}

.w3-tangerine {
  font-family: 'Tangerine', serif;
}
