  /* Make the image fully responsive */
  html, body {
    background-color: #e9b6bb;
    color: #636b6f;
    font-family: 'Pacifico', cursive;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}

.carousel-img {
    height: 350px;
}

.carousel-inner {
  position:relative;
  width:50%;
  overflow:hidden;
}

.carousel-inner::after {
  display:block;
  clear:both;
  content:"";
}

.carousel-control-next {
  right:50%;
}

.bg-dark {
  color: #721c24;
}